#head_Text{
    font-size: 3.1rem;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
}

#search_inp{
    float: right;
    height: 6vh;
    width: 35%;
    background-color: #EFF3F9;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
#search_inp img{
    height: 50%;
    width: auto;
    margin-right: 5%;
}
#search_inp input{
    height: auto;
    background-color: transparent;
    outline: none;
    width: 50%;
    border: none;
    color:rgb(56, 56, 56);
    box-shadow: 0px 0px 0px;
    font-family: 'Poppins', sans-serif; 
    font-size: 2vh;
    text-indent: 5px;
    border-radius: 5px;
}
#search_inp select{
    height: 70%;
    background-color: #EFF3F9;
    width: 30%;
    color:rgb(56, 56, 56);
    border: none;
    outline: none;
    border-right: 1px solid rgb(143, 142, 142);
    box-shadow: 0px 0px 0px;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.8vh;
    text-indent: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    padding-right: 2rem;
    padding-left: 1rem;
}
#search_inp select:hover{
    cursor: pointer;
}

.table_id th{
    border: none;
    text-align: center;
}
.table_id tr td{
    text-align: center;
}



#reportrange{
    float: left;
    height: 6vh;
    width: 25%;
    background-color: #EFF3F9;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#reportrange:hover{
    cursor: pointer;
    opacity: 70%;
}
#reportrange span{
    height: 100%;
    border: none;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    text-indent: 17px;
    color: #575757;
    display: flex;
    align-items: center;
}
#reportrange img{
    height: 40%;
    margin-right: 5%;
    width: auto;
}


#export_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    height: 6vh;
    float: right;
    width: auto;
    padding: 0 1rem;
    font-size: 1rem;
    color:rgb(109, 109, 109);
    background-color: #EFF3F9;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 5px;
}
#export_container img{
    height: 3vh;
    width: auto;
    margin-right: .5rem;
}
#export_container:hover{
    opacity: 70%;
    cursor: pointer;
}

#no_dataVerifyer{
    display: none;
    height: auto;
    margin-top: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #AEAEAE;
    margin-bottom: 1rem;
}
#no_dataVerifyer img{
    height: 25vh;
    width: auto;
    margin-bottom: 2%;
}


/*logout modal*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

.modal_container{
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.411);
}
#modal_box{
    margin: 0 5%;
    background-color: #EEEEF0;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.top_header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20vh;
    width: 100%;
    background-image: url(../../static/images/validation_bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_header img{
    height: 60%;
    border-radius: 50%;
    width: auto;
}
.modal_text{
    line-height: 1;
    margin: 0% 5rem;
    margin-top: 2rem;
    font-size: 4vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}
.modal_text1{
    line-height: 1;
    margin: 0% 3rem;
    margin-top: 2rem;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}
.btn_modal{
    margin: 1.5rem 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_modal button{
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    border: none;
    border-radius: 20px;
    margin: 0 .7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    padding: .5rem  1.8rem;
}
.btn_modal .btn1{
    background-color: #C85855;
}
.btn_modal .btn2{
    background-color: #8B8B8B;
}
.btn_modal button:hover{
    opacity: 70%;
}