{% extends 'main.html' %} {% block content%} {% load static %}
<link rel="stylesheet" href="{% static 'css/dictionary.css' %}" />

<script>
  document.getElementById("dictionary_page").style.color = "#ED4E38";
</script>
<link rel="stylesheet" href="{% static 'css/dictionaryAdd_Edit.css' %}" />

<div class="container-fluid">
  <div class="row mb-5" id="dictionary_header">
    <p class="text1">{{word.hanzi}}</p>
    <p class="text2">{{word.pinyin}}</p>
  </div>


  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <a href="{%url 'dictionary'%}">Go Back</a>

      <div class="card border-primary mb-3">
        <div class="card-header" id="card_header" style="text-align:left;">
          <strong style="font-size: x-large; padding-left: 2rem;" >Definition</strong>
        </div>
        <div class="card-body">
          <h3 class="card-title">Definition of <em>{{word.pinyin}}</em></h3>
          <p class="card-text">{{word.definition}}</p>
          <h5 class="card-title">
            Translation In Hanzi -<em>{{word.hanzi}}</em>
          </h5>
          <h5 class="card-title">
            Translation In English -<em>{{word.english}}</em>
          </h5>

          <h3 class="card-title mt-3">Example in a sentence</h3>
          <p class="card-text">{{word.sentence}}</p>
          <h3 class="card-title mt-3">Translation in English</h3>
          <p class="card-text">{{word.translation}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}
