{% extends 'main.html' %} {% block content %} {% load static%}
<script>
  document.getElementById("dictionary_page").style.color = "#ED4E38";
</script>
<div class="container-fluid py-3 px-3">
  <div class="row mb-5">
    <h1 class="text-center">Dictionary</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-6">
      <a href="{{request.META.HTTP_REFERER}}"
        ></i>&#8592; Go Back</a
      >
      <form action="" method="POST">
        <h3> {{label}} Word {% if label == 'Add' %}to Dictionary{%endif%}</h3>
        {%csrf_token %}

        <div class="col-sm-12">
            {% for fields in form %}
          <div class="form-group">
            
            <label for="" class="form-label mt-4"> {{fields.label}}</label> </label>
            {{ fields }}
          </div>
          {% endfor %}
        </div>

        <div class="form-group">
          <br />
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            {{label}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}
