{% extends 'main.html' %} {% block content %} {% load static%}
<script>
  document.getElementById("lesson_page").style.color = "#ED4E38";
</script>

<div class="container-fluid py-3 px-3">
  <div class="row mb-5">
    <h1 class="text-center">Lesson</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <a href="{{request.META.HTTP_REFERER}}"></i>&#8592; Go Back</a
      >
      <form action="" method="POST">
        <h3> {{label}} Lesson</h3>
        {%csrf_token %}

        <div class="col-sm-12">
            {% for fields in form %}
          <div class="form-group">
            
            <label for="" class="form-label mt-4"> {{fields.label}}</label> </label>
            {{ fields }}
          </div>
          {% endfor %}
        </div>

        <div class="form-group">
          <br />
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            {{label}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
<script>
    tinymce.init({
        selector: '#myTextArea',
        branding: false,
        height: "500",
        plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks code fullscreen insertdatetime media nonbreaking',
        'table emoticons template paste help', 'table advtable', 'pageembed'
      ],
      toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
        'forecolor backcolor emoticons | help | advtablerownumbering | pageembed',
      menu: {
        favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
      },
      menubar: 'favs file edit view insert format tools table help',
      content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
      });
  </script>
{% endblock content %}
