{% extends 'main.html' %} {% block content%} {% load static %}
<div class="container-fluid py-3 px-3">
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <a href="{{request.META.HTTP_REFERER}}">Go Back</a>

      <div class="card border-primary mb-3">
        <div class="card-header">
          <strong style="font-size: xx-large">{{lesson.title}}</strong> |
          <span class="text-uppercase">{{lesson.hsklevel}}</span>
        </div>
        <div class="card-body">
          <h3 class="card-title">Description</h3>
          <p class="card-text">{{lesson.description}}</p>
          <div class="content">{{lesson.content | safe }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}
