{% extends 'main.html' %}

{% block content %}
<!--Login Field -->
{% if page == 'login' %}

<div class="container-fluid py-3 px-3">
    <div class="row mb-5">
      <h1 class="text-center">Learn Mandarin Now</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col col-lg-6 col-md-8 col-sm-8">
        <form action="" method="POST">
          <h3>Sign in</h3>
          {%csrf_token %}

          
            <div class="col-sm-12">
              <div class="form-group">
                <label for="" class="form-label mt-4">
                  Username or Email
                </label>
                <input type="text" name='username' class="form-control" placeholder="Username or Email" required>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="" class="form-label mt-4">
                  Password
                </label>
                <input type="password" name="password" class="form-control" placeholder="*******" required>
              </div>
            </div>

           
          <div class="form-group">
            <br />
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col col-lg-6 col-md-8 col-sm-8 align-items-center">
        <p>Haven't signed up yet? <a href="{% url 'register' %}">Sign up</a></p>
      </div>
    </div>
  </div>

{% else %}

<div class="container-fluid py-3 px-3">
    <div class="row mb-5">
      <h1 class="text-center">Learn Mandarin Now</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col col-lg-6 col-md-8 col-sm-8">
        <form action="" method="POST">
          <h3>Create an account</h3>
          {%csrf_token %}

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="" class="form-label mt-4">
                  {{form.first_name.label}}
                </label>
                {{form.first_name}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="" class="form-label mt-4">
                  {{form.last_name.label}}
                </label>
                {{form.last_name}}
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="" class="form-label mt-4">
                  {{form.username.label}}
                </label>
                {{form.username}}
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="" class="form-label mt-4">
                  {{form.email.label}}
                </label>
                {{form.email}}
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="" class="form-label mt-4">
                  {{form.password1.label}}
                </label>
                {{form.password1}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="" class="form-label mt-4">
                  {{form.password2.label}}
                </label>
                {{form.password2}}
              </div>
            </div>

          <div class="form-group">
            <br />
            <button type="submit" class="btn btn-primary btn-lg btn-block">
             Sign up
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col col-lg-6 col-md-8 col-sm-8 align-items-center">
        <p>Already signed up yet? <a href="{% url 'login' %}">Sign in</a></p>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}