{% extends 'main.html' %}

{% block content %}    

{% load static %}


<link rel="stylesheet" href="{% static 'css/dictionary.css' %}" />
<link rel="stylesheet" href="{% static 'css/table.css' %}" />

<div class="container-fluid">
    <div class="row" id="dictionary_header">
        <h1 class="text-center" id="head_Text">My Achievements</h1>
      </div>
    <div class="row justify-content-center">
        <div class="col col-lg-12">
            
        </div>
    </div>
</div>


{% endblock content %}