{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

<nav class="navbar navbar-expand-lg navbar-dark" id="navbar_header">
  <div class="container-fluid">
    <img src="{% static 'images/navbar_logo.png' %}" id="navbar_logo">
    <a class="navbar-brand" href="{% url 'dictionary' %}" id="logo_text">Learn Mandarin Now</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto navbar_menuChouce">
        <li class="nav-item">
          <a class="nav-link navigation_choices" href="{% url 'dictionary' %}"
             id="dictionary_page">Dictionary
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navigation_choices" href="{% url 'lessons' %}" id="lesson_page">Lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navigation_choices" href="#" id="">To be Added</a>
        </li>

        {% if request.user.is_authenticated and request.user.is_staff %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle navigation_choices"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
             id="">To be Added</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">To be Added</a>
            <a class="dropdown-item" href="#">To be Added</a>
            <a class="dropdown-item" href="#">To be Added</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">To be Added</a>
          </div>
        </li>
        {% endif %}
      </ul>

      <div class="d-flex">
        {% if request.user.is_authenticated %}
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle button_profile" id="test"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              class="rounded-circle"
              src="{{request.user.avatar.url}}"
              alt="profile"
              style="height: 1.7rem; width: 1.7rem; margin-bottom: 1px"
            />
            {{request.user.username}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" href="{% url 'update-user' %}">
                <img src="{% static 'images/profile_icon_navbar.png' %}" class="navbar_mini_icon">
                Profile</a
              >
            </li>
            {% if request.user.is_staff %}
            <li>
              <a class="dropdown-item" href="{% url 'superuser-users' %}">
                <img src="{% static 'images/manageUser_icon_navbar.png' %}" class="navbar_mini_icon">
                Manage Users</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'superuser-dictionary' %}">
                <img src="{% static 'images/manageDict_icon_navbar.png' %}" class="navbar_mini_icon">
                Manage Dictionary</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'superuser-lessons' %}">
                <img src="{% static 'images/manageLesson_icon_navbar.png' %}" class="navbar_mini_icon">
                Manage Lessons</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'superuser-quizzes' %}">
                <img src="{% static 'images/manageQuizzes_icon_navbar.png' %}" class="navbar_mini_icon">
                Manage Quizzes</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="{% url 'superuser-activitylogs' %}">
                <img src="{% static 'images/activityLog_icon_navbar.png' %}" class="navbar_mini_icon">
                Activity Logs</a
              >
            </li>
            {% endif %}
            
            <hr>
            <li style="margin-top:-.5rem;">
              <a class="dropdown-item" id="logoutBtn">
                <img src="{% static 'images/logout_icon_navbar.png' %}" class="navbar_mini_icon">
                Logout</a>
            </li>
          </ul>
        </div>
        {% else %}

        <div class="dropdown">
          <a class="btn btn-primary button_profile" href="{% url 'login' %}">
            <img
              src="{% static 'images/avatar.svg' %}"
              alt="profile"
              style="height: 1.7rem; width: 1.7rem; margin-bottom: 1px"
            />
            Sign in
          </a>
        </div>
        {% endif %}
      </div>
      <!-- <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search" />
        <button class="btn btn-primary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form> -->
    </div>
  </div>
</nav>
<script src="{% static 'js/main.js' %}"></script>