{% extends 'main.html' %} {% block content %} {% load static %}
<div class="container-fluid">
  <div class="row my-3">
    <h1 class="text-center">{{page}}</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-10 col-sm-12">
      {% if page == "Manage Users" %}
      <!-- MANAGE USER -->
      {% include 'tableusers.html' %} 
      {% endif %} 
      
      {% if page == "Manage Dictionary" %}
      <span></span>
      <!-- MANAGE DICTIONARY -->
      {% include 'tabledictionary.html' %} 
      {% endif %} 

      {% if page == "Manage Lessons" %}
      <!-- MANAGE LESSONS -->
      {% include 'tablelessons.html' %}
      {% endif %}
    </div>
  </div>
</div>



<script src="{% static 'js/main.js' %}"></script>

{% endblock content %}
