{% extends 'main.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/dictionaryAdd_Edit.css' %}" />
<link rel="stylesheet" href="{% static 'css/dictionary.css' %}" />
<div class="container-fluid">
  <div class="row mb-5" id="dictionary_header">
    <h1 class="text-center" id="head_Text">Edit Profile</h1>
  </div>

  <div class="row" >
    <div class="col" style="display: flex; justify-content: center">
    
      {% if page == 'authenticated' %}
      <img src="{{request.user.avatar.url}}" alt="profile" class="rounded-circle border border-dark" style="width:8rem; height:8rem;">
      {% else %}
      <img src="{{user.avatar.url}}" alt="profile" class="rounded-circle border border-dark" style="width:8rem; height:8rem;">
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center" >
    <div class="col col-lg-6 col-md-8 col-sm-8" >
      <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token %}
        <div class="col-sm-12">
          <div class="form-group">
            <label for="" class="form-label mt-4">
              {{form.avatar.label}}
            </label>
            {{form.avatar}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="" class="form-label mt-4">
                {{form.first_name.label}}
              </label>
              {{form.first_name}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="" class="form-label mt-4">
                {{form.last_name.label}}
              </label>
              {{form.last_name}}
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="" class="form-label mt-4">
                {{form.username.label}}
              </label>
              {{form.username}}
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="" class="form-label mt-4">
                {{form.email.label}}
              </label>
              {{form.email}}
            </div>
          </div>

        <div class="form-group" id="edit_pass">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
          Update
          </button>

          {% if page == 'authenticated' %}
         <!-- can't use button tag because it is inside of a form tag and considers automatically as submit -->
             <span class="btn btn-primary btn-lg btn-block" id="deleteBtn">Delete Account</span>
        
          {% include 'delete_personal_account.html' %}
          <script src="{% static 'js/delete.js' %}"></script>
          {% endif %}
    
          {% if page == 'authenticated' %}

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enableChangePass">
                <label class="form-check-label" for="flexCheckIndeterminate">
                  Click to change password
                </label>
              </div>
          {% endif %}

        </div>
      </form>
    </div>
  </div>

  
{% if page == 'authenticated' %}

<div class="row justify-content-center" id="passwordReset" style="display: none; margin-bottom: 3rem;">
  <div class="col col-lg-6 col-md-8 col-sm-8">
    <form action="{% url 'passwordreset' %}" method="POST">
      <h3>Password Reset</h3>
      {%csrf_token %}

        <div class="col-sm-12">
          <div class="form-group">
            <label for="" class="form-label mt-4">
             Old Password
            </label>
            <input type="password" name="oldpassword" class="form-control" placeholder="*******" required>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="" class="form-label mt-4">
             New Password
            </label>
            <input type="password" name="newpassword" class="form-control" placeholder="*******" required>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="" class="form-label mt-4">
             Confirm New Password
            </label>
            <input type="password" name="confirmpassword" class="form-control" placeholder="*******" required>
          </div>
        </div>

      <div class="form-group">
        <br />
        <button type="submit" class="btn btn-primary btn-lg btn-block">
         Change Password
        </button>
      </div>
    </form>
  </div>
</div>
</div>

<img src="{% static 'images/right_bgImg.png' %}" id="right_bg_img">

<script>
document.getElementById('enableChangePass').onchange = function (){
  if (document.getElementById('enableChangePass').checked){
      document.getElementById('passwordReset').style.display = 'flex';
  }else{
      document.getElementById('passwordReset').style.display = 'none';
  }
}
</script>
{% endif %}
<script src="{% static 'js/main.js' %}"></script>

{% endblock content %}
